<%- include("header") -%>
<header>
    <h1>This my To-do List</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur mollitia laborum hic magnam nemo at deserunt corporis quas illum numquam incidunt totam impedit expedita alias quia voluptatem voluptate eos sunt nostrum, quod iste, amet et possimus? Aut alias maxime, quisquam dolores laborum earum quia voluptatum illum totam, ipsum cumque deserunt aperiam pariatur nobis ullam.</p>
    
</header>
<%- include("footer") -%>