<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
    <div class="form-group">
        <label for="">Title</label>
    
        <input type="text" name="newPostTitle" id="" class="form-control" >
    
        <label for="">Post</label>
        
        <textarea name="newPostContent" id="" cols="30" rows="5" class="form-control" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>


<%- include("partials/footer") -%>







 <!-- <label for="">Title</label>
    <br>
    <input type="text" name="newPostTitle" id="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    <br>
    <label for="">Post</label>
    <br>
    <textarea name="newpostData" id="" cols="30" rows="5" class="form-control" aria-label="With textarea"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Publish</button> -->